<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @screenplay.title %>
</p>

<p>
  <strong>Stats:</strong>
  <%= pluralize @screenplay.scene_count, 'scene' %>
</p>

<p>
  <strong>Download:</strong>
  <%= link_to 'pdf', screenplay_path(@screenplay, 'pdf') %>
</p>

<%= link_to 'Edit', edit_screenplay_path(@screenplay) %> |
<%= link_to 'Destroy', @screenplay, method: :delete %>

<p>
  <pre><%= @screenplay.fountain %></pre>
</p>

