<!DOCTYPE html>
<html>
<head>
  <title>Smashcut</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>
    <%= link_to 'smashcut', new_screenplay_path %>
  </h1>

<%= yield %>

<hr>

<p>This site is mostly just to help test/develop a tool for parsing and transforming <%= link_to 'Fountain', 'http://fountain.io/syntax' %>-formatted screenplays. That tool is called <%= link_to 'smashcut', 'http://github.com/maxjacobson/smashcut' %>, and this site is just a thin wrapper around it to give a web interface for it. This site isn't necessarily using the latest version of that code, although I'll probably update it as I go. This site is <%= link_to 'also open source', 'http://github.com/maxjacobson/smashcut-web' %>.</p>

</body>
</html>
